<!--- 大画面 --->
<div class='hidden lg:block relative w-full h-screen'>
  <!--- 背景画像 --->
  <div class="absolute inset-0 bg-cover bg-center bg-fixed" style="background-image: url('<%= asset_path("top.jpg") %>');">
    <!-- 暗くしてぼかすオーバーレイ -->
    <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm"></div>
  </div>
<!--- アプリの説明 --->
  <div>
  <%= render 'shared/app_explanation' %>
  </div>
</div>


</div>


<!--- 中画面(タブレット) --->
<div class="hidden md:block lg:hidden">
<!--- アプリの説明 --->
  <div>
  <%= render 'shared/app_explanation' %>
  </div>
</div>
<!--- ケータイ --->