<!--- アプリの説明 --->
<div class="relative flex flex-col items-center justify-center w-full py-16 px-4">
  <!-- タイトル -->
  <h2 class="text-3xl md:text-4xl font-sans text-white/50 mb-8">Empatia</h2>

  <p class="text-lg md:text-xl text-serif text-white/50 max-w-3xl text-center leading-relaxed">
    Empatia は、「共感」を得たり他の人に「共感」を届けることができるアプリです。
  </p>

  <!-- カードレイアウト -->
  <div class="flex flex-col items-center gap-6 max-w-6xl w-full mt-10">
    <!-- カード -->
    <div class="border border-white/50 p-6 rounded-2xl shadow-lg backdrop-blur-md bg-white/10 w-full max-w-4xl">
      <h3 class="text-xl md:text-2xl font-sans text-white/50">何ができるの？</h3>
        <p class="text-base md:text-lg text-serif text-white/50 mt-2 space-y-2">
          <span class="before:content-['・'] before:mr-1 block">ユーザー名やアイコンの表示がないので匿名で気持ちや考えを投稿できます。</span>
          <span class="before:content-['・'] before:mr-1 block">他のユーザーの投稿に異なる感情のいいねボタンで共感することができます。</span>
          <span class="before:content-['・'] before:mr-1 block">コメント機能がないので偏見や誹謗中傷の心配がありません。</span>
        </p>
    </div>

    <div class="border border-white/50 p-6 rounded-2xl shadow-lg backdrop-blur-md bg-white/10 w-full max-w-4xl">
      <h3 class="text-xl md:text-2xl font-sans text-white/50">Empatiaの使い方</h3>
      <p class="text-base md:text-lg text-serif text-white/50 mt-2">
        ① 登録<br>
        ② 投稿して自分の今の気持ちをシェア<br>
        ③ 共感した投稿の感情に合ったリアクションを送ろう
      </p>
    </div>
  </div>

  <p class="text-lg md:text-xl text-serif text-white/50 max-w-3xl text-center leading-relaxed mt-10">
    Empatiaは、ただ共感を届けるための場所。<br>
    あなたの気持ちに寄り添う、温かい空間を一緒に作りましょう。
  </p>
</div>