<header>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<div class="container mx-auto flex justify-end items-center px-4">
		<div class="flex gap-4 md:gap-10 text-serif text-base md:text-lg lg:text-xl text-white/50">
      <%= link_to 'Sign up', sign_up_path, class: 'hover:underline' %>
			<%= link_to 'Login', login_path, class: 'hover:underline' %>
		</div>
	</div>
</header>