<header>
	<div class="bg-blue-400">
		<!-- 文字の大きさと色 -->
		<h1 class="inline-block text-5xl text-white">Empatia</h1>
			<div class="flex md:text-base gap-2 md:gap-10 flex justify-end text-xl text-white">
        <%= link_to 'Sign up', sign_up_path, class: 'mr-4' %>
				<%= link_to 'Login', login_path %>
			</div>
	</div>
</header>