<footer>
  <div class="bg-blue-400">
		<div class="footer-list">
    <!-- 文字の大きさと色 -->
      <div class="flex md:text-base gap-2 md:gap-10 justify-around md:justify-center text-xl text-white">
        <%= link_to 'Terms of Use', terms_path %>
        <%= link_to 'Privacy Policy', privacy_policy_path %>

        <a href="https://x.com/zhon3112" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://github.com/zhon3112" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://forms.gle/tXDb1uZ2Z4Q9yJJG8" target="_blank">お問い合せ</a>
      </div>
		</div>
  </div>
</footer>