<footer>
  <div class="bg-blue-400">
		<div class="footer-list">
    <!-- 文字の大きさと色 -->
      <div class="flex md:text-base gap-2 md:gap-10 justify-around md:justify-center text-xl text-white">
        <%= link_to 'Terms of Use', terms_path %>
        <%= link_to 'Privacy Policy', privacy_policy_path %>
      </div>
		</div>
  </div>
</footer>