<!---- いいねした投稿のデザイン --->
<div class="card bg-green-50 w-96 border border-gray-300">
  <div class="card-body">
    <p class="text-black text-lg"><%= post.content %></p>
    <p class="text-gray-500 text-sm"><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
  </div>
</div>