<div class="text-center">
<p class="text-black">Empatiaは、匿名で感情を共有し共感を得るためのプラットフォームです。</p>
<p class="text-black">ユーザーは自分の感じていることや考えを自由に投稿し、他のユーザーからの共感を受け取ることができます。</p>
<p class="text-black">匿名性を確保することで安心して自己表現ができ、個人的な悩みや喜びを共有することができる場所です。</p>
</div>

