<div class="relative w-full min-h-screen flex flex-col justify-center items-center py-24 bg-cover bg-center">
  <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg mt-10 text-black">
    <h1 class="text-3xl text-sans font-bold mb-6 text-center">プライバシーポリシー</h1>

    <h2 class="text-2xl text-sans font-semibold mt-6">お客様から取得する情報</h2>
      <p class="mt-2">当社は、お客様から以下の情報を取得します。</p>
				<ul class="list-disc pl-6 mt-2 space-y-2">
					<li>氏名(ニックネームやペンネームも含む)</li>
					<li>メールアドレス</li>
					<li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
					<li>Cookie(クッキー)を用いて生成された識別情報</li>
				</ul>

		<h2 class="text-2xl text-sans font-semibold mt-6">お客様の情報を利用する目的</h2>
			<p class="mt-2">当社は、お客様から取得した情報を、以下の目的のために利用します。</p>
				<ul class="list-disc pl-6 mt-2 space-y-2">
					<li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
					<li>お客様からのお問い合わせに対応するため</li>
					<li>当社の規約や法令に違反する行為に対応するため</li>
					<li>当社サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
					<li>当社規約の変更等を通知するため</li>
				</ul>

		<h2 class="text-2xl text-sans font-semibold mt-6">安全管理のために講じた措置</h2>
			<p class="mt-2">当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>

		<h2 class="text-2xl text-sans font-semibold mt-6">第三者提供</h2>
			<p class="mt-2">当社は、お客様から取得する情報のうち、個人データ(個人情報保護法第16条第3項)に該当するものについては、あらかじめお客様の同意を得ずに、第三者(日本国外にある者を含みます。)に提供しません。</p>
			<p class="mt-2">但し、次の場合は除きます。</p>
				<ul class="list-disc pl-6 mt-2 space-y-2">
					<li>個人データの取り扱いを外部に委託する場合</li>
					<li>当社や当社サービスが買収された場合</li>
					<li>事業パートナーと共同利用する場合(具体的な共同利用がある場合は、その内容を別途公表します。)</li>
					<li>その他、法律によって合法的に第三者提供が許されている場合</li>
				</ul>

		<h2 class="text-2xl text-sans font-semibold mt-6">プライバシーポリシーの変更</h2>
			<p class="mt-2">当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>

		<h2 class="text-2xl text-sans font-semibold mt-6">お問い合わせ</h2>
			<p class="mt-2">お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、下記の窓口からご連絡ください。</p>
			<%= link_to "お問い合わせフォーム", "https://forms.gle/stAZdnq6xcVmSTGZA", class: "text-blue-600 underline" %>

		<p class="mt-2">以上</p>
	</div>
</div>