<!---いいね5　　_like_buttonsにrenderさせる--->
<%= form_with url: post_likes_path(post), method: :post, data: { turbo_stream: true }, html: { id: "fifth-like-button-#{post.id}" } do %>
  <%= hidden_field_tag :like_type, 'like_fifth' %>
  <button type="submit" class="flex items-center space-x-1 text-gray-400 px-4 py-2">
    <i class="fa-solid fa-hand-fist text-blue-950"></i>
    <p class="text-xs" id="like-count-like_fifth-<%= post.id %>">
      <%= @likes_by_post[post.id]&.count { |l| l.like_type == 'like_fifth' } || 0 %>
    </p>
  </button>
<% end %>