<!---- index.html.erbにrenderする用 --->
<% ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'].each do |num| %>
  <% like_type = "like_#{num}" %>
  <% user_liked = @user_likes&.dig(post.id)&.any? { |l| l.like_type == like_type } %>

  <div id="<%= like_type %>-like-button-<%= post.id %>">
    <% if user_liked %>
      <%= render "posts/#{num}_unlike", post: post %>
    <% else %>
      <%= render "posts/#{num}_like", post: post %>
    <% end %>
  </div>
<% end %>