<%= search_form_for @q do |f| %>
  <div class="flex items-center space-x-2 border border-gray-300 rounded-lg px-3 py-2">
    <%= f.search_field :content_cont, class: "flex-grow outline-none bg-transparent" %>
    <button type="submit" class="text-white hover:text-gray-700">
      <i class="fa-solid fa-magnifying-glass text-lg"></i>
    </button>
  </div>
<% end %>