<!--- _like_buttonsにrenderさせる --->
<% like = @user_likes[post.id]&.find { |l| l.like_type == 'like_second' } %>

<%= form_with url: post_like_path(post, like), method: :delete, data: { turbo_stream: true }, html: { id: "like_second-like-button-#{post.id}" } do %>
  <%= hidden_field_tag :like_type, 'like_second' %>
  <button type="submit" class="flex items-center space-x-1 text-gray-400 px-4 py-2">
    <i class="fa-solid fa-heart-crack text-sky-600"></i>
    <p class="text-xs" id="like-count-like_second-<%= post.id %>">
      <%= @likes_by_post[post.id]&.count { |l| l.like_type == 'like_second' } || 0 %>
    </p>
  </button>
<% end %>